<h2>Globe Spinner</h2>

<form id="spin" method="post" action="/">
  <input type="submit" value="Spin!">
</form>
<br>
<form id="address" method="post" action="/">
  <input type="text" name="address" placeholder="Search Address"><br>
  <input type="submit" value="Go!">
</form>
<br>



<div id="map-canvas"/>


  

