<h2>Globe Spinner</h2>

<form id="spin" method="post" action="/">
  <input type="submit" value="Spin!">
</form>
<br>
<form id="address" method="post" action="/">
  <input type="text" name="street" placeholder="Street"><br>
  <input type="text" name="city" placeholder="City"><br>
  <input type="text" name="state" placeholder="State"><br>
  <input type="submit" value="Find Address">
</form>
<br>



<div id="map-canvas"/>


  

